<!DOCTYPE html>
<html>
<head>
	<style>
		table, th, td {
		  border: 1px solid black;
		}
		.evenRow{
			color:blue;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<td>First name</td>
			<td>Last name</td>
			<td>Action</td>
		</thead>
		<tbody>
			<tr>	
				<form action="crud">
					<td> <input type="text" name="firstName"/> </td>
					<td> <input type="text" name="lastName"/> </td>
					<td> <input type="submit" value="Insert" name="insert"/> </td>
				</form>
			</tr>
			<tr th:each="actor: ${actorsKey}">
				<form action="crud">
					<td> <input th:class="${actor.id}%2==0 ? 'evenRow'" type="text" name="firstName" value="Firs name" th:value="${actor.firstName}"/> </td>
					<td> <input th:class="${actor.id}%2==0 ? 'evenRow'" type="text" name="lastName" value="Last name" th:value="${actor.lastName}"/> </td>
					<td> <input type="hidden" name="id" th:value="${actor.id}"/>
						 <input type="submit" value="Delete" name="delete"/> 
						 <input type="submit" value="Update" name="update"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</body>
</html>
