<!DOCTYPE html>
<html>
	<body>

		<p th:text="${'Name: '+ student.name}">Name: ${student.name}</p> 
		<p th:text="${'Age: '+ student.age}">Age: ${student.age}</p> 
		<p th:text="${'ID: '+ student.id}">Id: ${student.id}</p>
	
	</body>
</html>
